/* normalize css starts here */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
picture {
  display: contents;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* normalize css ends here */

// Import Rubik font
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

$primaryColor: #e1a72b;
$secondaryColor: #009568;

body {
  width: 350px;
  min-height: 300px;
  font-family: 'Rubik', sans-serif;
  border: 2px solid $primaryColor;
}