// Import Rubik font
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

$primaryColor: #e1a72b;

div#hint_extension__hint {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  
  max-width: 800px;
  z-index: 999999;

  font-family: 'Rubik', sans-serif;

  $border: 2px solid $primaryColor;
  $background: #fff;
  $border-radius: 5px;
  $box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  
  &--content {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
    color:rgba(0, 0, 0, 0.9);

    & > span.grey {
      font-weight: 500;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &--buttons {
    display: flex;
    justify-content: center;
    gap: 8px;

    margin-bottom: 12px;

    & img {
      width: 24px;
      height: 24px;

      transition: transform 0.15s ease-in-out;
      &:hover { transform: scale(1.1); }
      
      cursor: pointer;
      user-select: none;
    }
  }

  &--icon_credits {
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: $primaryColor;

    & a {
      font-size: inherit;
      font-weight: inherit;
      text-align: inherit;
      color: inherit;
    }
  }

  &::before{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);

    width: 16px;
    height: 16px;
    
    border: $border;
    background: $background;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  &--wrap {
    transform: translateY(8px);
    padding: 16px;
    
    border: $border;
    background: $background;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 2px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);

    width: 14px;
    height: 14px;

    background: $background;
  }
  
  &.hidden {
    display: none !important;
    visibility: none !important;
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    top: 100% !important;
    left: 100% !important;
  }
}